<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Ecommerce web</title>
        <link rel="stylesheet" th:href="@{/styles/styles.css}" href="../static/styles/styles.css">
    </head>
    <body>
        <header>
            <div class = div>
                <div class = "logo">
                    <a href="./index.html">
                        <img th:src="@{/imgs/Logo_completo.png}" src="../static/imgs/Logo completo.png" alt="Logo de la marca">
                    </a>
                </div>
                <div class = "usuario">
                    <a href="./perfilUsuario.html"><img th:src="@{/imgs/user.png}" src="../static/imgs/user.png" alt=""></a>
                <h3>Cerrar sesión</h3>
                </div>
            </div>
        </header>
        <div class = "contenido-flex">
            <aside>
                <a href="./catalogo.html">Catalogo</a>
                <a href="./carrito.html">Carrito</a>
                <a href="./pedidos.html">Gestion de pedidos</a>
                <a href="./adminPrincipal.html">Administrador</a>
                <a href="./login.html">Iniciar Sesión</a>
            </aside>
            <main class ="main-index">
                <section>
                    <h2>Integrantes del equipo</h2>
                    <p>Ramón Zamudio - 251924</p>
                    <p>Carlos Clark - 247383</p>
                    <p>Fernando Garces - 242099</p>
                </section>
            </main>
        </div>
        <footer>
            <div class="logo-footer">
                <img th:src="@{/imgs/svg/logoBlanco.svg}" src="../static/imgs/svg/logoBlanco.svg" alt="">
                <p>Aplicaciones Web - Unidad 2</p>
                <br>
            </div>

            <div class="contacto">
                <h3>Contáctanos</h3>
                <ul class="social-links">
                    <li><a href="https://www.whatsapp.com/"><img th:src="@{/imgs/whatsappLogo.svg}" src="../static/imgs/whatsappLogo.svg" alt="WhatsApp"></a></li>
                    <li><a href="https://www.instagram.com/"><img th:src="@{/imgs/instaLogo.svg}" src="../static/imgs/instaLogo.svg" alt="Instagram"></a>
                    </li>
                    <li><a href="https://www.facebook.com/"><img th:src="@{/imgs/facebookLogo.svg}" src="../static/imgs/facebookLogo.svg" alt="Facebook"></a></li>
                    <li><a href="https://mail.google.com/"><img th:src="@{/imgs/gmailLogo.svg}" src="../static/imgs/gmailLogo.svg" alt="Correo"></a></li>
                </ul>

            </div>

            <div class="avisos">
                <ul class="legal-links">
                    <li><a href="">Términos y condiciones</a></li>
                    <li><a href="">Aviso de privacidad</a></li>
                    <li><a href="">Políticas de cookies</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>